body {
	background-color: black;
	color: white;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	margin: 0px;
}

h2#top {
	text-align: center;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px 0px 10px 0px;
}

h3 {
	display: block;
	position: relative;
	text-align: center;
}

h3 button {
	background-color: #777777;
}

h3 button:active {
	background-color: #ffffff;
	color: #000000;
}

hr {
	border: 1px grey dotted;
}

hr.quarter {
	width: 25vw;
}

form {
	padding: 10px;
	display: block;
	position: relative;
	width: 100vw;
}

col.column-thinner {
	max-width: 84px;
}

col.column-fatter {
	max-width: 300px;
}

#submit {
	display: block;
	position: relative;
	margin: 10px auto 0px auto;
}

td {
	padding: 0px 6px;
}

button {
	background-color: #8a2ce2;
	color: white;
	padding: 0px 6px 2px 6px;
	outline: none;
	border: none;
	border-radius: 8px;
}

button:active {
	background-color: #8a2ce266;
	color: #8a2ce2;
	outline: none;
	border: none;
}

button#clear-memes {
	font-size: 0.6rem;
	border: 4px purple;
	border-radius: 10px;
	padding: 0px 8px 2px 8px;
}

.font-size {
	font-size: 0.6rem;
}

input[type=link] {
	background-color: #aaaaaa;
	color: white;
	width: 220px;
	border-radius: 6px;
}

input[type=text] {
	background-color: #aaaaaa;
	color: white;
	width: 220px;
	border-radius: 6px;
}

input.font-size {
	width: 20px;
}

input[type=radio] {
	div.: none;
	height: 0.6rem;
}

label.text-labels {
	font-size: 0.8rem;
}

label.caps-or-no {
	font-size: 0.6rem;
}

section.#memes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 90vw;
}

div.meme-container {
	display: inline-block;
	position: relative;
}

img.meme-image {
	height: 300px;
	border: 10px white;
	padding: 40px;
}

.meme-text {
	display: block;
	position: absolute;
	left: 50%;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-style: bold;
	font-size: 24px;
	max-width: 380px;
	margin: 18px auto;
	text-align: center;
	transform: translate(-50%, 0);
	color: white;
	text-shadow: 0px 0px 12px black;
}

.top {
	top: 28px;
}

.bottom {
	bottom: 32px;
}

button.delete-meme {
	display: block;
	position: absolute;
	left: 50%;
	top: 90%;
	transform: translate(-10px, 10px);
	border: none;
	width: 20px;
	height: 20px;
	background-color: #888888ff;
	border-radius: 50%;
	font-family: 'Courier New', Courier, monospace;
}
