body {
    min-height: 100vw;
    min-width: 100vh;
    background-color: #008000;
    font-family: 'Cairo', 'Roboto', 'Montserrat', 'Open Sans', sans-serif;
}

h1 {
    font-size: 3em;
    color: black;
    padding: 0px;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    z-index: 1;
}

td {
    height: 40px;
    width: 40px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #000000;
    z-index: 1;
}

td.row-0 {
    background-color: #008000;
}

#board {
    /* actual size set by JS based on width & height variables 
    /* or should it be based on view size and scale the table from there...? */
    /* probably the latter */
    /*min-height=400px;*/
    max-height=90vh;
    max-width=90vw;
    display: block;
    position: relative;
    /*top=850px;*/
    z-index: 1;
}

/* TODO: make board fit on mobile screen; */

button.play-butts {
    display: block;
    position: relative;
    left: 5px;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    outline: none;
}

#board div {
    display: block;
    position: relative;
    left: 5px;
    width: 30px;
    height: 30px;
    border: 0px;
    border-radius: 50%;
    z-index: 3;
}

.space {
    background-color: #008000;
    z-index: 2;
}

.blue {
    background-color: #0000ff;
    z-index: 3;
}

.red {
    background-color: #ff0000;
    z-index: 3;
}

.yellow {
    background-color: #ffff00;
    z-index: 3;
}

.purple {
    background-color: #800080;
    z-index: 3;
}

.pink {
    background-color: #ffc0cb;
    z-index: 3;
}

.skyblue {
    background-color: #87ceeb;
    z-index: 3;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 60px 0px;
}

#reset {
    color: #aaaa00;
    background-color: #0000ff;
    padding: 0px 10px;
    font-size: 2rem;
    border-radius: 15%;
}

.game-over {
    display: block;
    position: absolute;
    width: 600px;
    height: 120px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: #FFA500bb;
    color: black;
    font-size: 24px;
    text-emphasis: bold;
    z-index: 10;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

.error {
    border: 20px #ffff00;
}

#restart {
    color: #aaaa00;
    background-color: #0000ff;
    padding: 0px 10px;
    font-size: 1.5rem;
    border-radius: 15%;
}