/* game board table */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#board {
    display: block;
    position: relative;
    top: 50px;
}

#board td {
    width: 50px;
    height: 50px;
    border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
    margin: 5px;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    z-index: 4;
}

.piece.p1 {
    background-color: red;
}

.piece.p2 {
    background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
    border: dashed 1px lightgray;
}

#column-top td:hover {
    background-color: gold;
}

table {
    padding-bottom: 10px;
}

input {
    font-size: 1em;
}

#players {
    font-size: 2em;
}

button {
    display: block;
    position: relative;
    top: 30px;
    font-size: 2rem;
    font-family: 'Cairo', 'Roboto', 'Montserrat', 'Open Sans', sans-serif;
    color: white;
    outline: none;
}

#start {
    width: 350px;
    background: linear-gradient(0.25turn, hsl(300, 100%, 80%), hsl(0, 100%, 50%));
    border: 4px hsl(300, 60%, 25%) solid;
    border-radius: 0.25em;

}

/* why does this seem to get smaller? */
#start:hover {
    background: linear-gradient(0.25turn, hsl(300, 80%, 90%), hsl(0, 80%, 70%));
    border: 4px hsl(300, 50%, 25%) solid;
    border-radius: 0.25em;
}

#start:active {
    background: linear-gradient(0.25turn, hsl(300, 100%, 50%), hsl(0, 100%, 65%));
    border: 4px #hsl(300, 100%, 25%) solid;
    border-radius: 0.25em;
    color: black;
}

#clear-info {
    width: 350px;
    background: linear-gradient(0.25turn, hsl(0, 100%, 50%), hsl(300, 100%, 80%));
    border-radius: 0.25em;

}

#clear-info:hover {
    background: linear-gradient(0.25turn, hsl(0, 60%, 50%), hsl(300, 60%, 80%));
    border: 4px #0F0;
    border-radius: 0.25em;
}

#clear-info:active {
    background: linear-gradient(0.25turn, hsl(0, 100%, 65%), hsl(300, 100%, 50%));
    border: 4px #0F08;
    border-radius: 0.25em;
    color: black;
}

#clear-info.inactive {
    background: linear-gradient(0.25turn, hsl(0, 40%, 50%), hsl(300, 20%, 40%));
    border: 4px #0F05 solid;
    color: #8888;
}

#note {
    font-size: 0.8em;
    font-style: italic;
}