body {
    font-family: Roboto, Ariel, sans-serif;
    background-color: black;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    width: 65vw;
    margin-top: 0px;
    font-size: 3em;
}

#new-game-button {
    color: grey;
    background-color: grey;
    border: 4px solid grey;
    font-size: 1.5rem;
    border-radius: 10px;
    margin: 20px;
}

table {
    text-transform: uppercase;
}

th,
td {
    color: grey;
    background-color: black;
    height: 10vh;
    width: 10vw;
    border: 6px solid grey;
}

td {
    text-align: center;
}

td.blank {
    font-size: 1.2em;
}

th.loaded,
td.loaded {
    background-color: #060ce9;
    color: white;
    transition: 250ms;
}

#new-game-button.loaded {
    color: white;
    background-color: #74119c;
    border: 4px solid black;
    transition: 250ms;
}

td.questioned {
    font-size: 0.6rem;
    transition: 0ms;
    /*animation: 0ms ease-in 500ms zero-to-one;*/
    /*animation-fill-mode: forwards;*/
}

td.answered {
    font-size: 1rem;
    transition: 100ms;
}

/* dunno why this doesn't work, but it straight up doesn't */
@keyframe zero-to-one {
    from: {
        transform: scale3d(0);
    }

    to: {
        transform: scale3d(1);
    }
}

/* some colors you may find useful:
  // bluish purple:
  #115ff4
  // game board blue:
  #060ce9
  // green:
  #28a200
  // another purple:
  #8d2ab5
  // a slightly lighter purple:
  #74119c
*/