body {
    font-family: Roboto, Ariel, sans-serif;
    background-color: black;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    width: 65vw;
    margin-top: 0px;
}

#new-game-button {
    background-color: #74119c;
    font-size: 1.5rem;
    color: white;
    border: 4px solid black;
    border-radius: 10px;
    margin: 20px;
}

table {
    background-color: #060ce9;
    font-size: 1.4rem;
    text-transform: uppercase;
}

th,
td {
    /*    display: block;
    position: relative;*/
    height: 10vh;
    width: 10vw;
    border: 6px solid black;
}

td {
    text-align: center;
}

td.blank {
    font-size: 2em;
}

/* some colors you may find useful:
  // bluish purple:
  #115ff4
  // game board blue:
  #060ce9
  // green:
  #28a200
  // another purple:
  #8d2ab5
  // a slightly lighter purple:
  #74119c
*/