/* div.container {
	display: block;
	position: relative;
} */

/* div.contained {
	display: inline-block;
	position: relative;
	height: 200px;
	width: 200px;
} */

img.image {
	display: inline-block;
	position: relative;
	height: 200px;
	width: 200px;
}

.inner .top {
	display: block;
	position: absolute;
	top: 0px;
}

.inner .bottom {
	display: block;
	position: absolute;
	top: 180px;
}

#red {
	background-color: red;
}

#blue {
	background-color: blue;
}

#yellow {
	background-color: yellow;
}

#green {
	background-color: green;
}

div.inner {
	display: block;
	display: absolute;
}
